modules = ["nodejs-20", "postgresql-16"]
run = "npm start"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "install"]
run = ["npm", "start"]

[[ports]]
localPort = 3000
externalPort = 80
